@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.test {
  background-color: #9900ff;
  color: #fff;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  box-sizing: border-box;
}

* {
  color: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins";
}
@media (min-width: 480px) {
  body {
    background-color: beige;
  }
}
@media (min-width: 600px) {
  body {
    background-color: rgb(141, 222, 235);
  }
}

 ul {
  background-color: #be2f19;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

.gap-2 > * {
  padding: 20px;
}

.gap-2 {
  margin-left: -20px;
  margin-right: -20px;
}

@media (min-width: 480px) {
  .col-12-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 720px) {
  .col-6-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
}
@media (min-width: 960px) {
  .col-3-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
}
.text-primary {
  color: #326dee;
}

.bg-primary {
  background-color: #326dee;
}

.text-secondary {
  color: #39ea39;
}

.bg-secondary {
  background-color: #39ea39;
}

.text-error {
  color: #be2f19;
}

.bg-error {
  background-color: #be2f19;
}

.text-info {
  color: #eed532;
}

.bg-info {
  background-color: #eed532;
}

.text-white {
  color: #fff;
}

.bg-black-light-1 {
  background-color: #1a1a1a;
}

.text-purple {
  color: #9900ff;
}

.bg-purple {
  background-color: #9900ff;
}

.bg-purple-light-1 {
  background-color: #a31aff;
}

.text-orange {
  color: #ffaf00;
}

.text-hover-orange:hover {
  color: #ffaf00;
}

.bg-orange {
  background-color: #ffaf00;
}

.btn {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
}

.btn-error {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #be2f19;
}
@media (min-width: 480px) {
  .btn-error {
    padding: 1.125rem 2.25rem;
    font-size: 1.5rem;
  }
}
.btn-error:hover {
  background-color: #e34027;
}

.btn-info {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #eed532;
}
@media (min-width: 480px) {
  .btn-info {
    padding: 1.125rem 2.25rem;
    font-size: 1.5rem;
  }
}
.btn-info:hover {
  background-color: #f2df61;
}

.btn-black {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #000;
  color: #fff;
}
@media (min-width: 480px) {
  .btn-black {
    padding: 1.125rem 2.25rem;
    font-size: 1.5rem;
  }
}
.btn-black:hover {
  background-color: #1a1a1a;
}

.btn-purple {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #9900ff;
}
@media (min-width: 480px) {
  .btn-purple {
    padding: 1.125rem 2.25rem;
    font-size: 1.5rem;
  }
}
.btn-purple:hover {
  background-color: #ad33ff;
}

.btn-orange {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #ffaf00;
}
@media (min-width: 480px) {
  .btn-orange {
    padding: 1.125rem 2.25rem;
    font-size: 1.5rem;
  }
}
.btn-orange:hover {
  background-color: #ffbf33;
}

.card {
  display: block;
  padding: 0.75rem;
  background-color: #326dee;
  border-radius: 5px;
  box-shadow: 1px 3px 5px 5px rgba(0, 0, 0, 0.2);
  border: 2px solid #000;
}
.card .card-title {
  font-size: 2rem;
  padding: 0.75rem;
  font-weight: bold;
}
.card .card-body {
  font-size: 1rem;
}
.card .card-body a {
  text-decoration: underline;
}

.ml-2 {
  margin-left: 1.5rem;
}

.my-5 {
  margin: 3.75rem auto;
}