* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: bisque;
  line-height: 1.5;
}

header {
  background-color: burlywood;
  color: azure;
  padding: 20px;
  text-align: center;
  border-bottom: 5px #000 solid;
  margin: 0;
  margin-bottom: 10px;
}

.container {
  width: 90%;
  margin: auto;
  padding: 10px;
}

.box {
  background-color: rgb(150, 104, 40);
  color: #fff;
  width: 500px;
  height: 100px;
  padding: 20px;
  text-align: center;
}

.animated {
  background: brown;
  width: 100px;
  height: 100px;
  position: relative;
}
